body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section{
    padding: 100px;
    height: 100vh;
}

#home{
   background-color: #DACBB4;
}

#about {
    background-color: beige;
}

#service {
    background-color: #EFEAE2;
}

#contact {
   
    background-color : #CAC3B8;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    transition: background-color 0.3s;
    z-index: 1000;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item{
    margin: 0 15px
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, font-weight 0.3s;
}

.nav-item a:hover {
    color: #4976b5;
    font-weight: bold;
}

.scrolled{
    background-color: #000;
}